<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IHM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SQL" connectionString="Data Source=176.31.248.137;Initial Catalog=user17;Persist Security Info=True;User ID=user17;Password=597user17" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
    <IHM.Properties.Settings>
      <setting name="AdresseHubWebService" serializeAs="String">
        <value>http://</value>
      </setting>
    </IHM.Properties.Settings>
  </userSettings>
</configuration>
