<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQL" connectionString="Data Source=176.31.248.137;Initial Catalog=user17;Persist Security Info=True;User ID=user17;Password=597user17" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
